h3{
    background-color:antiquewhite;
    
}


img{
    background-color:white;
}
p{
    background-color: beige;
}
h5{
    color: blue;
    ;
}

navbar-expand-lg bg-body-tertiary{
    background-color: black;
    color: black;
}
h6{
    background-color:beige;
}